﻿.page-header 
{
    background-color:white;    
}

.page-header-logo
{
    background-image: url('../ECMToolbox/Images/trumbulllogo.png');
}
.page-header-content
{
    left:300px;
    padding-top: 6px;
    font-family: Helvetica;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.29;
    text-align: center;
    color: #00493a;
}
.welcome-message{
    background-color: #298b57 !important;
}

.welcome-message-text{
    font-family: Helvetica;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.29;
    text-align: center;
    color: #00493a;
}

.panel-heading, .ecmwindow > :first-child {
    color: white;
    background-color: #298b57 !important;
}

.btn-sidebar-small
{
    color: #298b57 !important;
    border: 1px solid #298b57 !important;
    border-radius: 5px !important;
    margin-bottom: 20px !important;
}
.sidebar-top-level
{
    color:#298b57;
    border-bottom-color:#e0e0e0
}
.sidebar-top-level.active
{
    color:white;
}
.sidebar-secondary-level
{
    color: #333333;
    background-color: #f6f6f6;
}
.wfSidebar-small-text {
    color: #298b57 !important;
}
.grid-area
{
    background-color:#f6f6f6;
}

.k-grid-header-wrap>table>thead>tr>th,.k-grid-header-wrap>table>thead>tr>th>a
{    
    color:#4a4a4a !important;
    background-color:#e0e0e0 !important;
    border-color:#ccc !important;
    font-weight: bold !important;
    font-size: 13px !important;
    font-family: Helvetica !important;
    height: 16px !important;
}

.k-icon {
    color: #4a4a4a !important;
}
.k-i-arrow-60-down {
    color: white !important;
}
.k-overflow-container .k-primary, .k-primary {
    background-color: #298b57 !important;
}
.k-select {
    background-color: #298b57 !important;
}
.k-state-focused.k-autocomplete, .k-state-focused.k-dropdown-wrap, .k-state-focused.k-header.k-multiselect, .k-state-focused.k-numeric-wrap, .k-state-focused.k-picker-wrap, .k-textbox:focus {
    border-color: #298b57 !important;
}
.k-state-selected.k-draghandle:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list > .k-state-highlight, .k-list > .k-state-selected, .k-marquee-color, .k-panel > .k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-state-selected.k-today, .k-state-selected, .k-state-selected:link, .k-state-selected:visited {
    background-color: #298b57 !important;
}
.k-state-active {
    background-color: #ccc !important;
}
.ecmlink{
    color:#888888;
}
.ecmlink:hover{
    color:#3FACDB;
}

.menu-workflow{
    color:#095841;
}
.menu-queue{
    color:#666666;
}
.menu-queue-itemcounter{
    color:white;
    background-color:#41537F;
}
.menu-queue > tbody > tr:hover {
    background-color: #298b57 !important;
    color: white !important;
    cursor: pointer;
}
.menu-queue tr.selected {
    background-color: #298b57 !important;
    color: white !important;
}

body
{
    background-color:#f6f6f6;
}

.eventbutton {
    border-radius: 5px !important;
    border: solid 1px #298b57 !important;
    background-color: white !important;
    color: #298b57 !important;
    height: 33px !important;
}
.text-white{
    color:white;
}
.text-black{
    color:black;
}
.text-dark{
    color:#666666;
}
.text-primary{
    color:#3FACDB;
}

.selectedInput > div {
    border: 3px solid #298b57 !important;
}

.btn {
    /*padding-top: 5px !important;*/
}

.btn-primary 
{
    /*background-color:#3FACDB;*/
    border-radius: 5px;
    border: solid 1px #298b57;
    background-color: white;
    color: #298b57;
    height: 33px;
}
.active.btn-primary, .focus.btn-primary, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .btn-primary.dropdown-toggle {
    color: #fff !important;
    background-color: #298b57 !important;
    border-color: #204d74;
}

.text-default{
    color:#999999;
}
.btn-default
{
    /*background-color:#999999;*/
    border-radius: 5px;
    border: solid 1px #298b57;
    background-color: white;
    color: #298b57;
    height: 33px;
}
.text-info {
    color:#3E999B;
}

.btn-info
{
    /*background-color:#3E999B;*/
    border-radius: 5px;
    border: solid 1px #298b57;
    background-color: white;
    color: #298b57;
    height: 33px;
}
.text-success{
    color:#549956;
}
.btn-success
{
    /*background-color:#549956;*/
    border-radius: 5px !important;
    border: solid 1px #298b57 !important;
    background-color: white !important;
    color: #298b57 !important;
    height: 33px !important;
    padding: 4px 12px !important;
}

.btn-refreshmenuitems
{
    /*height: 40px !important;*/
}
.text-warning{
    color:#ffb752;
}
.btn-warning
{
    /*background-color:#ffb752;*/
    border-radius: 5px;
    border: solid 1px #298b57;
    background-color: white;
    color: #298b57;
    height: 33px;
}
.text-danger{
    color:#CE614E;
}
.btn-danger
{
    /*background-color:#CE614E;*/
    border-radius: 5px;
    border: solid 1px #298b57;
    background-color: white;
    color: #298b57;
    height: 33px;
}

.btn:hover
{    
    /*background-color:#72BBDB;*/
    border-radius: 5px;
    border: solid 1px #1d633e;
    background-color: white;
    color: #1d633e;
}

.control-label
{    
    color:#7F7F7F;
}

.control, .k-picker-wrap
{
    color: #333333;
    border-color:#D3D3D3 !important;
}

.control:hover
{
    border-color:#B3E5FC;    
}

.control:focus
{
    border-color:#AAAAAA;
}

.control.error
{
    border-color:#E8A4A4;
    background-color:#FFE5E5;
}

.selected, [selected], .nav-tabs li.active a, .k-state-selected>td, .k-state-selected>td>i 
{
    color:white !important;
    background-color:#298b57 !important;
}

.breadcrumb
{
    background-color:white;
    border-color:#DDDDDD;
}

.breadcrumb li a
{
    color:#6CABC1;
}

.panel-heading, .ecmwindow>:first-child
{
    color:white;
    background-color: #0c986f;
}

.notification-success{
    color:#555555;
    background-color:#C6E0B3;
}

.notification-info{
    color:#555555;
    background-color:#DDDAA8;
}

.notification-failure{
    color:#555555;
    background-color:#E0BFBC;
}