﻿<%@ Page Language="vb" AutoEventWireup="false" Inherits="rdList" CodeBehind="rdList.aspx.vb" Src="rdList.aspx.vb" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>rd</title>
    <script>
        window.opener.name = "docview";

    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div id="test">
     
    </div>
    </form>
</body>
</html>
